{% extends "nftables_box_base.j2" %}
{% block header %}{{ shieldwall_managed }}{% endblock %}

{% block variables %}
{% endblock %}

{% block input_mangle %}
{% endblock %}

{% block output_mangle %}
{% endblock %}

{% block output_route %}
{% endblock %}

{% block postrouting_mangle %}
{% endblock %}

{% block prerouting_dnat %}
{%   if use_proxy | default(true) %}
    ip daddr != $IP4_PROXY_EXCLUDES tcp dport $PORT_PROXY_INTERCEPT_PLAIN dnat to 127.0.0.1:$PORT_PROXY_TRANSPARENT_PLAIN
    ip6 daddr != $IP6_PROXY_EXCLUDES tcp dport $PORT_PROXY_INTERCEPT_PLAIN dnat to [::1]:$PORT_PROXY_TRANSPARENT_PLAIN
    ip daddr != $IP4_PROXY_EXCLUDES tcp dport $PORT_PROXY_INTERCEPT_SSL dnat to 127.0.0.1:$PORT_PROXY_TRANSPARENT_SSL
    ip6 daddr != $IP6_PROXY_EXCLUDES tcp dport $PORT_PROXY_INTERCEPT_SSL dnat to [::1]:$PORT_PROXY_TRANSPARENT_SSL
{%   endif %}
{% endblock %}

{% block output_dnat %}
{% endblock %}

{% block input %}
{% endblock %}

{% block output %}
    # todo: drop bogons on public interfaces
{% endblock %}

{% block forward %}
    # todo: switch to enable public traffic forwarding
    ip daddr != $IP4_NET_PRIVATE log prefix "NFTables drop forward public-traffic: " drop
{% endblock %}

{% block postrouting_snat %}
{% endblock %}
