# {{ shieldwall_managed }}

*.* action(
    type="omfwd"
    target="controller.shieldwall"
    StreamDriverPermittedPeers="{{ syslog.controller }}"
    Port="{{ syslog.controller_port }}"
    protocol="tcp"
    KeepAlive="on"
    action.resumeRetryCount="-1"
    queue.type="LinkedList"
    queue.saveonshutdown="on"
    queue.filename="out-shieldwall-controller"
    queue.maxDiskSpace="2g"
    StreamDriver="gtls"
    StreamDriverMode="1"
    StreamDriverAuthMode="x509/name"
    StreamDriverCAFile="/etc/ssl/certs/shieldwall.ca.crt"
    StreamDriverCertFile="/etc/ssl/certs/shieldwall.box.crt"
    StreamDriverKeyFile="/etc/ssl/certs/shieldwall.box.key"
)

if ($programname == "shieldwall_box") then {
    /var/log/shieldwall/box.log
    stop
}

if ($programname == "shieldwall_update") then {
    /var/log/shieldwall/update.log
    stop
}

if ($syslogfacility == 0 and $msg contains "] NFTables") then {
    /var/log/shieldwall/nftables.log
    stop
}

if ($programname == "dhcp") then {
    /var/log/shieldwall/dhcp.log
    stop
}

if ($programname == "squid" and $syslogfacility-text == "local2") then {
    /var/log/shieldwall/squid_access.log
    stop
}

if ($programname == "squid" and $syslogfacility-text != "local2") then {
    /var/log/shieldwall/squid_service.log
    stop
}
