# ShieldWall managed

[Unit]
Description=ShieldWall firewall - box service
Documentation=https://wiki.shield-wall.net
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/local/lib/shieldwall/main.py
ExecReload=/bin/kill -10 $MAINPID

User=shieldwall
Group=shieldwall
Restart=on-failure
RestartSec=10s

StandardOutput=journal
StandardError=journal
SyslogIdentifier=shieldwall_controller

Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONIOENCODING=utf8"

[Install]
WantedBy=multi-user.target
