{% block header %}{{ shieldwall_managed }}{% endblock %}

{% block listener %}
http_port 3128 ssl-bump tcpkeepalive={{ proxy_tcp_keepalive }} cert=/etc/ssl/certs/proxy.crt key=/etc/ssl/private/proxy.key tls-dh=/etc/ssl/private/proxy.dh.pem generate-host-certificates=on dynamic_cert_mem_cache_size={{ proxy_cache_ssl }}MB cipher={{ proxy_ciphers }} options={{ proxy_conn_opts }}
http_port 3129 intercept tcpkeepalive={{ proxy_tcp_keepalive }}
https_port 3129 intercept ssl-bump tcpkeepalive={{ proxy_tcp_keepalive }} cert=/etc/ssl/certs/proxy.crt key=/etc/ssl/private/proxy.key tls-dh=/etc/ssl/private/proxy.dh.pem generate-host-certificates=on dynamic_cert_mem_cache_size={{ proxy_cache_ssl }}MB cipher={{ proxy_ciphers }} options={{ proxy_conn_opts }}
ssl_bump peek step1 ssl_ports
ssl_bump splice all
{% endblock %}
{{ shieldwall_managed }}

